:root{
  --black-do:#121212;
  --brown-do:#4d2e17;
  --white-do:#ffffff;
  --lbrown-do:#cdc69c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--black-do);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{
  width: 10px;
  background: white;
}
::-webkit-scrollbar-thumb{
  background: var(--lbrown-do);
  border-radius: 50px;
}